<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="">
      <a href="">Login</a>
      <a href="/">Home</a>
      <a href="/appointments">Appointments</a>
      <a href="/appointments/new">Schedule an Appointment</a>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
