<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>The Mutt and Tumble</title>
</head>
<body>
    <header class="site-header">

        <div class="site-branding">

            <p class="site-title"><a href="https://mutt-and-tumble.com/" rel="home">Mutt and Tumble</a></p>
        
            <p class="site-description">Unleash the good dog</p>
        </div><!-- .site-branding -->

        <nav class="main-navigation">
            <div>
                <ul class="main-menu">
                    <li><a href="https://mutt-and-tumble.com/">Home</a></li>
                    <li><a href="https://mutt-and-tumble.com/?page_id=6">Our Training Methods</a></li>
                    <li><a href="https://mutt-and-tumble.com/contact/">Contact Us</a></li>
                    <li><a href="https://mutt-and-tumble.com/blog-01/">Mutt &amp; Tumble’s Blog</a></li>
                    <li><% if (user) { %>
                        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
                      <% } else { %>
                        <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
                      <% } %></li>

                </ul>
            </div>
        </nav> 
        
    </header><!-- #site-navigation -->
    <main>
  
            <h2>Hello! Set your appointment</h2>
        <form action="/appointments" method="POST">
            <label>Pet Name:
                <input type="string" name="dogName"></label><br>
            <label>Location:
              <select name="location">
                  <option value="Oakland" selected>Oakland</option>
                  <option value="San Leandro">San Leandro</option>
                  <option value="Berkeley" >Berkeley</option>
                  <option value="Alemeda">Alemeda</option>
              </select>
            </label><br>
            <label>Training Type:
                <select name="training">
                    <option value="Clicker" selected>Clicker</option>
                    <option value="Negative">Negative</option>
                    <option value="Postive" >Postive</option>
                    <option value="Alpha">Alpha</option>
                </select>
             
            </label><br>
            <label>Date:
            <input type="datetime-local" name="date">
            </label><br>
            <input type="submit" value="Create Appointment">
        </form>   
    
    
    </main>
</body>
</html>